<html>
	<head>
		<meta name="decorator" content="atl.admin"/>
		<title>User Response Time Report</title>
	</head>
	<body class="aui">
		<div class="aui-tabs horizontal-tabs" id="tabs-example1">
			<ul class="tabs-menu">
				<li class="menu-item active-tab">
					<a href="#tabs-example-first"><strong>Project</strong></a>
				</li>
				<li class="menu-item">
					<a href="#tabs-example-second"><strong>Blacklisted Domains</strong></a>
				</li>
				<li class="menu-item">
					<a href="#tabs-example-third"><strong>Whitelisted Domains</strong></a>
				</li>
				
			</ul>
			
			<div class="tabs-pane active-pane" id="tabs-example-first">
				
					<section id="content" role="main">
						<!-- Page Header must go inside #content before .aui-page-panel -->
						<header class="aui-page-header">
							<div class="aui-page-header-inner">	
								<div class="aui-page-header-main">
									<h1>Set Rule</h1>
								</div>
							</div>
						</header>

					<!-- Page Header must go inside #content before .aui-page-panel -->
						<div class="aui-page-panel">
							<div class="aui-page-panel-inner">
								<section class="aui-page-panel-content">
									<form name="addUserForm" action="" method="post" class="aui">
										<input type="hidden" name="projectSelected" value=$projectSelected>	
										<fieldset>
														
											<div class="field-group">
												<label for="email1">User Email<span class="aui-icon icon-required"> required</span></label>
												<input class="text" type="text" id="email1" name="rulesEmailId" title="email" placeholder="you@company.com">
												<div class="description">Please enter valid email id</div>
											</div>
													
										</fieldset>											
												
										<fieldset>
											<div class="field-group">
												<label for="comment">Subject Contain : </label>
												<textarea class="textarea" name="rulesSubjectContain" id="subjectContain" placeholder="Your Subject Contain word NDNC,keyword ..."></textarea>
											</div>
											<div class="field-group">
												<label for="licenseKey">Enter Mail Id : </label>
												<textarea class="textarea" rows="6" cols="10" name="rulesMailFrom" id="licenseKey" placeholder="aclcare@acl-mobile.com"></textarea>
												<div class="description">Mail From separated by ","</div>
											</div>
										</fieldset>
												
										<fieldset>
											<div class="field-group">
												<label for="dBase">Select IssueType</label>
												<select class="select" id="dBase" name="issueType" title="Select IssueType">
													#set ($allIssueType = $issueType.keySet())
													#foreach ($type in $allIssueType)
														<option value="$issueType.get($type)">$issueType.get($type)</option>
													#end	
												</select>
											</div>
										</fieldset>
												
										<fieldset>
											<div class="field-group">
												<label for="dBase">Select Priority</label>
												<select class="select" id="dBase" name="prioritySelected" title="Select Priority">
													#set ($allPriorites = $priority.keySet())
													#foreach ($project in $allPriorites)
														<option value="$priority.get($project)">$priority.get($project)</option>
													#end	
												</select>									
											</div>
										</fieldset>
												
																				
												
										<div class="buttons-container">
											<div class="buttons">
												<input class="button submit" type="submit" name="submit" value="Add Rule" id="d-save-btn1">
												<input class="button submit" type="submit" value="Cancle" id="">
											</div>
										</div>
									</form> 			
								</section>
							</div>
						</div>			
					</section>	
					
					<section id="content" role="main">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">	
							<div class="aui-page-header-main">
								<h1>Rules Info.</h1>
							</div>
						</div>
					</header>		
							
					<div class="aui-page-panel">
						<div class="aui-page-panel-inner">		
							<section class="aui-page-panel-content">
								<table class="aui">
									<thead>
										<tr>
											<th id="basic-number">Sr. No.</th>
											<th id="basic-fname">User Email</th>
											<th id="basic-lname">Subject Contain</th>
											<th id="basic-username">Mail Id</th>
											<th id="basic-IssueType">Select IssueType</th>
											<th id="basic-Priority">Select Priority</th>
											<th id="basic-username">Operation</th>
											<th id="basic-username">Operation</th>
										</tr>
									</thead>
									
									<tbody>
										
										#set ($Rules = $AllRules)
											#foreach ($Rule in $Rules)
												<tr>											
													<th id="basic-number">$Rule.getID()</td>
													<td id="basic-fname">$Rule.getUserEmail()</td>
													<td id="basic-lname">$Rule.getSubjectContain()</td>
													<td id="basic-username">$Rule.getMailForm()</td>
													<td id="basic-IssueType">$Rule.getIssueType()</td>
													<td id="basic-Priority">$Rule.getSelectPriority()</td>
													<td id="basic-username"> </td>
													<td id="basic-username"> </td>
												</tr>
											#end
																									
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</section>	
				
			</div>
			
			<div class="tabs-pane" id="tabs-example-second">		
					<section id="content" role="main">
						<header class="aui-page-header">
							<div class="aui-page-header-inner">	
								<div class="aui-page-header-main">
									<h1>Blacklisted Domains</h1>
								</div>
							</div>
						</header>

							<!-- Page Header must go inside #content before .aui-page-panel -->
								<div class="aui-page-panel">
									<div class="aui-page-panel-inner">
										<section class="aui-page-panel-content">
											<form name="addUserForm" action="" method="post" class="aui">
												<input type="hidden" name="projectSelected" value=$projectSelected>	
												<fieldset>
															
													<div class="field-group">
														<label for="email1">User Email<span class="aui-icon icon-required"> required</span></label>
														<input class="text" type="text" id="email1" name="userEmailId" title="email" placeholder="you@company.com">
														<div class="description">Please enter valid email id</div>
													</div>
													
												</fieldset>											
												
												<fieldset>
															
													<div class="field-group">
														<label for="email1">Domain<span class="aui-icon icon-required"> required</span></label>
														<input class="text" type="text" id="email1" name="domainId" title="email" placeholder="company.com">
														<div class="description">Please enter valid Domain id</div>
													</div>
													
												</fieldset>
								
												<fieldset>
													<div class="field-group">
														<label for="email1">Subject Contain<span class="aui-icon icon-required"> required</span></label>
														<input class="text" type="text" id="email1" name="subjectContain" title="email">
														<div class="description">Please enter Subject Conatin</div>
													</div>
													
												</fieldset>
		
												<div class="buttons-container">
													<div class="buttons">
														<input class="button submit" type="submit" name="submit" value="Block Domain" id="d-save-btn1">
											
														<form class="aui" name="backToProject" action="">
															<input class="button submit" type="submit" value="Cancle" id="">
														</form>
													</div>
												</div>
											</form> 	
											
										</section>
									</div>
								</div>
					</section>	
				
				<section id="content" role="main">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">	
							<div class="aui-page-header-main">
								<h1>Blacklisted Domains Info.</h1>
							</div>
						</div>
					</header>		
							
					<div class="aui-page-panel">
						<div class="aui-page-panel-inner">		
							<section class="aui-page-panel-content">
								<table class="aui">
									<thead>
										<tr>
											<th id="basic-number">Id</th>
											<th id="basic-fname">Email Id </th>
											<th id="basic-lname">Domain</th>
											<th id="basic-username">Project</th>
										</tr>
									</thead>
									
									<tbody>
									
										#set ($allDomains = $AllBlackListedDomain)
										#foreach ($domian in $allDomains)
											<tr>
												<td headers="basic-number">*</td>
												<td headers="basic-fname">$domian.getUserEmail()</td>
												<td headers="basic-lname">$domian.getDomain()</td>
												<td headers="basic-username">$domian.getProject()</td>
												
												
												
											</tr>
										#end
										
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</section>	
			</div>
        
			<div class="tabs-pane" id="tabs-example-third">
				<section id="content" role="main">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">	
							<div class="aui-page-header-main">
								<h1>Whitelisted Domains</h1>
							</div>
						</div>
					</header>	

					<!-- Page Header must go inside #content before .aui-page-panel -->
					<div class="aui-page-panel">
						<div class="aui-page-panel-inner">
							<section class="aui-page-panel-content">
								<form name="addUserForm" action="" method="post" class="aui">
									<input type="hidden" name="projectSelected" value=$projectSelected>
									<fieldset>
														
										<div class="field-group">
											<label for="email1">User Email<span class="aui-icon icon-required"> required</span></label>
											<input class="text" type="text" id="email1" name="userEmailId" title="email" placeholder="you@company.com">
											<div class="description">Please enter valid email id</div>
										</div>
													
									</fieldset>											
												
									<fieldset>
															
										<div class="field-group">
											<label for="email1">Domain<span class="aui-icon icon-required"> required</span></label>
											<input class="text" type="text" id="email1" name="domainId" title="email" placeholder="company.com">
											<div class="description">Please enter valid Domain id</div>
										</div>
													
									</fieldset>
								
									<fieldset>
										<div class="field-group">
											<label for="dBase">Select Project</label>
											<select class="select" id="dBase" name="domainProject" title="Select Project">
												#set ($allProject = $Project.keySet())
												#foreach ($project in $allProject)
													<option value="$Project.get($project)">$Project.get($project)</option>
												#end	
											</select>
										</div>
													
									</fieldset>
		
												<div class="buttons-container">
													<div class="buttons">
														<input class="button submit" type="submit" name="submit" value="Allow Domain" id="d-save-btn1">
														<input class="button submit" type="submit" value="Cancle" id="">
													</div>
												</div>
											</form> 	
											
										</section>
									</div>
								</div>
					</section>	
				
				<section id="content" role="main">
					<header class="aui-page-header">
						<div class="aui-page-header-inner">	
							<div class="aui-page-header-main">
								<h1>Whitelisted Domains Info.</h1>
							</div>
						</div>
					</header>		
					<div class="aui-page-panel">
						<div class="aui-page-panel-inner">		
							<section class="aui-page-panel-content">
								<table class="aui">
									<thead>
										<tr>
											<th id="basic-number">Sr. No.</th>
											<th id="basic-fname">Email Id </th>
											<th id="basic-lname">Domain</th>
											<th id="basic-username">Project</th>
										</tr>
									</thead>
									
									<tbody>
									
										#set ($allWhiteDomains = $AllWhiteListedDomain)
											#foreach ($Whitedomian in $allWhiteDomains)
												<tr>
													<td headers="basic-number">*</td>
													<td headers="basic-fname">$Whitedomian.getUserEmail()</td>
													<td headers="basic-lname">$Whitedomian.getDomain()</td>
													<td headers="basic-username">$Whitedomian.getProject()</td>
												</tr>
											#end
										
									</tbody>
								</table>
							</section>
						</div>
					</div>
				</section>	
			</div>
			
		</div><!-- .aui-tabs -->
		
	<body class="aui">
</html>